<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <div class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="/assets/images/logo-svg.svg" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
      </div>
    
      <h2 class="text-center text-base font-semibold text-indigo-600">Welcome to reserviServices</h2>
      <p class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl">
        Everything you need to manage user data
      </p>
      <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
        <!-- User Information Card -->
        <div class="relative lg:row-span-2">
          <div class="divide-y divide-gray-100 text-white" style="margin: 20px;" >
            <!-- Full Name -->
            <div class="py-4" >
              <p class="text-sm font-medium text-gray-400">Full Name</p>
              <div class="mt-1">
                <span *ngIf="!isEditing" style="color: black;">{{ user?.firstname }} {{ user?.lastname }}</span>
                <div *ngIf="isEditing">
                  <input
                  style="color: black;"
                    [(ngModel)]="updatedUser.firstname"
                    placeholder="First Name"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                  <input
                  style="color: black;"
                    [(ngModel)]="updatedUser.lastname"
                    placeholder="Last Name"
                    class="mt-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
            </div>
  
            <!-- Email -->
            <div class="py-4">
              <p class="text-sm font-medium text-gray-400">Email</p>
              <div class="mt-1">
                <span *ngIf="!isEditing" style="color: black;">{{ user?.email }}</span>
                <input
                style="color: black;"
                  *ngIf="isEditing"
                  [(ngModel)]="updatedUser.email"
                  placeholder="Email"
                  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
            </div>
  
            <!-- Location: Address -->
            <div class="py-4">
              <p class="text-sm font-medium text-gray-400">Address</p>
              <div class="mt-1">
                <span *ngIf="!isEditing" style="color: black;">{{ user?.location?.address }}</span>
                <input
                  *ngIf="isEditing"
                  style="color: black;"
                  [(ngModel)]="updatedUser.location.address"
                  placeholder="Address"
                  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
            </div>
  
            <!-- Location: City -->
            <div class="py-4">
              <p class="text-sm font-medium text-gray-400">City</p>
              <div class="mt-1">
                <span *ngIf="!isEditing" style="color: black;">{{ user?.location?.ville }}</span>
                <input
                style="color: black;"
                  *ngIf="isEditing"
                  [(ngModel)]="updatedUser.location.ville"
                  placeholder="City"
                  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
            </div>
  
            <!-- Location: Postal Code -->
            <div class="py-4">
              <p class="text-sm font-medium text-gray-400">Postal Code</p>
              <div class="mt-1">
                <span *ngIf="!isEditing" style="color: black;">{{ user?.location?.postal_code }}</span>
                <input
                style="color: black;"
                  *ngIf="isEditing"
                  [(ngModel)]="updatedUser.location.postal_code"
                  placeholder="Postal Code"
                  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
            </div>
  
            <!-- Location: Country -->
            <div class="py-4">
              <p class="text-sm font-medium text-gray-400">Country</p>
              <div class="mt-1">
                <span *ngIf="!isEditing" style="color: black;">{{ user?.location?.country }}</span>
                <input
                style="color: black;"
                  *ngIf="isEditing"
                  [(ngModel)]="updatedUser.location.country"
                  placeholder="Country"
                  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
            </div>
          </div>
  
          <!-- Action Buttons -->
          <div class="flex justify-between p-4">
            <button *ngIf="!isEditing" (click)="enableEditing()" class="bg-indigo-600 text-white px-4 py-2 rounded-md ml-2">
              Edit Profile
            </button>
            <div *ngIf="isEditing" class="space-x-2">
              <button (click)="saveChanges()" class="bg-green-500 px-3 py-2 text-white">
                Save Changes
              </button>
              <button (click)="cancelEditing()" class="bg-gray-200 px-3 py-2">
                Cancel
              </button>
            </div>
          </div>
          
          
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"></div>
        
            </div>
            
            <div class="relative max-lg:row-start-1 lg:col-start-2 lg:row-start-1">
              <div class="absolute inset-px rounded-lg bg-white"></div>
              <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
                <div class="absolute inset-px rounded-lg bg-white"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                  <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                    <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Search</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Search providers by services</p>
                  </div>
                  <div class="flex justify-between p-4">
                    <input placeholder="Search for a service..."
                    [(ngModel)]="serviceName"
                    (keyup.enter)="onSearch()">


                    <button
                    (click)="onSearch()"
                      class="bg-indigo-600 text-white px-4 py-2 rounded-md ml-2"
                    >
                      Search
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
            </div>
            <div class="relative lg:row-span-2">
              <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
              <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
                <div class="relative min-h-[30rem] w-full grow">
                  <div class="absolute bottom-0 left-10 right-0 top-10 overflow-hidden rounded-tl-xl bg-gray-900 shadow-2xl">
                    <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                      <div class="-mb-px flex text-sm/6 font-medium text-gray-400">
                        <div class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 px-4 py-2 text-white">Providers</div>
                      </div>
                    </div>
                    
                    
                    <div class="px-6 pb-14 pt-6">
                      <div *ngIf="providers.length > 0; else noResults" class="provider-list scrollable-provider-list">
                        <ul>
                          <li *ngFor="let provider of providers" class="provider-item cursor-pointer p-2 border rounded-md hover:bg-indigo-100">
                            <h3>{{ provider.firstname }} {{ provider.lastname }}</h3>
                            <p>Email: {{ provider.email }}</p>
                            <p>Phone: {{ provider.phone }}</p>
                            
                            
                              <button (click)="selectProvider(provider)" (click)="navigateToReservation()" class="bg-indigo-600 text-white px-4 py-2 rounded-md ml-2">
                                  Select Provider
                              </button>
                          
                            
                            
                            
                          </li>

                        </ul>
                      </div>
                      <ng-template #noResults>
                        <p>No providers found for "{{ serviceName }}"</p>
                      </ng-template>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
              <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>
