<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body backgroud-im>
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-center text-base font-semibold text-indigo-600">Welcome to reserviServices</h2>
    <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10" >
      <h3 class="text-center text-base font-semibold text-gray-900" >Add your Location</h3>
      <p class=" text-center mt-1 text-sm text-gray-500">Personal details and application.</p>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="/assets/images/logo-svg.svg" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
      </div>
    
    </div>
    <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
      <div>
        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          name="address"
          [(ngModel)]="location.address"
          required
        />
      </div>
    
      <div>
        <label for="ville">Ville:</label>
        <input
          type="text"
          id="ville"
          name="ville"
          [(ngModel)]="location.ville"
          required
        />
      </div>
    
      <div>
        <label for="postal_code">Postal Code:</label>
        <input
          type="text"
          id="postal_code"
          name="postal_code"
          [(ngModel)]="location.postal_code"
          required
        />
      </div>
    
      <div>
        <label for="country">Country:</label>
        <input
          type="text"
          id="country"
          name="country"
          [(ngModel)]="location.country"
          required
        />
      </div>
    
      <button type="submit" [disabled]="locationForm.invalid">Submit</button>
    </form>
  </div>
</body>
</html>
